@import "./var";
//------------------------------------列表公共样式--------------
.articleList1{
  background:#fff;
  padding: 20px 15px 30px 20px;
  margin-bottom:10px;
  position:relative;
  // border-radius:4px;
  .artContent{
     margin-top:10px;
    padding-top:10px;
    // border-top:1px dashed #ddd;
     >a{
       width:200px;
       height:120px;
       float:left;
       margin-right:20px;
       text-align: center;
       overflow:hidden;
       >img{
         width:100%;
         height:100%;
         transition:transform 0.8s ease;
       }
     }
     span{
       color: @nomal-font-color;
       line-height: 24px;
       font-size:14px;
     }
     :after{
       content: "\0020";
       display: block;
       height: 0;
       clear: both;
     }
   }
  .otherInfo{
    right:10px;
    bottom:10px;
    position:absolute;
  }

}
.articleList1:hover{
  box-shadow: 0px 0px 10px #999;
  img{
    transform:scale(1.4);
  }
}
.articleTitle{
  display: inline;
  font-size: 20px;
  margin: 0;
  font-weight: normal;
  position: relative;
  top: 1px;
  line-height: 25px;
   i{
     background:#d9534f;
     color:#fff;
     font-size:12px;
     position: relative;
     padding:5px 10px;
     //border-radius:3px;
     margin-right:20px;
     top:-2px;
   }
   a{
     color: #00a67c;
     text-decoration: none;
     display:inline-block;
     position:relative;

   }
  a:hover{
    color:@a-hover-color
  }
  i::after{
    top: 7px;
    right: -4px;
    border-left: 4px solid #d9534f;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: top;
    content: "";
  }

}

.otherInfo{
  font-size: 13px;
  color: #999;
  >span{
    margin-right: 20px;
    i{
      margin-right:5px;
      width: 16px;
      font-size: 1.4em;
      text-align: center;
      vertical-align: -2px;
    }
  }
  >span:nth-last-child(1){
    color:#f78585;
    >i{
      cursor: pointer;
    }
  }
}

//-----------------------------------------右侧栏公共样式------------------------------------------------------------
.rightTitle{
  color:@mainColor;
  font-size: 16px;
  font-weight: normal;
  line-height: 45px;
  height: 45px;
  border-bottom:1px solid @mainColor;
}


//---------------------icon---------------------------------------------------
